<section>
  <app-container class="header">
    <div class="header-content" [formGroup]="formGroup">

      <div class="logo-container">
        <img src="assets/logo-sensorial.png" alt="Logo" class="logo" />

        <div class="sample-number-container">
          <mat-form-field class="custom-form-field" appearance="outline" [@highlightBorder]="highlightTrigger" subscriptSizing="dynamic">  

            <mat-label>
              {{'FORMS_HEADER.SAMPLE_NUMBER' | translate }}:
            </mat-label>

            <input  matInput placeholder="Enter sample number" formControlName="sample_number"
              readonly />

            <span matSuffix class="fa-solid fa-vial" [ngClass]="{
                'icon-error':
                formGroup.get('sample_number')?.invalid &&
                (formGroup.get('sample_number')?.touched ||
                 formGroup.get('sample_number')?.dirty)
              }">
            </span>

            <mat-error *ngIf="formGroup.get('sample_number')?.invalid">
              Campo obrigatório*
            </mat-error>

          </mat-form-field>
        </div>

      </div>

    </div>
  </app-container>
</section>