.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 100%;
  background: #D7E3FF;
  overflow-x: hidden;
  overflow-y: auto;
  /* para evitar overflow no flex */
  padding: 0 10px;

  img {
    width: 140px;
    height: auto;
    max-width: 100%;
    /* evita extrapolar */
    cursor: pointer;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    border-radius: 6px;
  }

  .nav {
    width: 100%;

    ::ng-deep .mat-expansion-panel-header {
      background-color: rgb(247, 244, 244) !important; // azul clarinho que destaca
      border-radius: 0px !important;
      min-height: 42px;
      padding: 0 12px !important;
      font-weight: 600 !important;
      
    }

    ::ng-deep mat-accordion {
      width: 100%;
    }

    ::ng-deep .mat-expansion-panel {
      margin: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
    }

    ::ng-deep .mat-expansion-panel-body {
      padding: 0;
    }

    mat-list {
      padding: 0;
      width: 100%;

      mat-list-item {
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
        background-color: white;

        .menu__icon {
          margin-right: 10px;
          width: 24px;
          height: 24px;
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
        }

        cursor: pointer;
        padding-left: 8px;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }


    }

  }

}

mat-divider {
  margin: 8px 0;
  border: 2px solid;
  border-top-color: #555; // visível
  width: 100%;
}

mat-drawer {
  border-radius: 4px;
  width: 275px;
  overflow-x: hidden !important;
  min-width: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
