.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  cursor: pointer;

  mat-icon{
    position: absolute;
    top: -13px;
    right: -13px;
  }

  mat-card.disabled {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(100%);
    cursor: not-allowed;
  }

  mat-card.verified {
    border: 2px solid #4caf50;
  }

  mat-card {
    width: 60px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 40px;
      height: 40px;
    }

    h2 {
      margin-bottom: 0.5em;
      font-size: 1.5em;
      color: #333333;
    }

    p {
      font-size: 1em;
      color: #666666;
    }
  }
}